###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=564548c5febcbe7dca4b1693b5fb374a
###< symfony/framework-bundle ###


###> XDEBUG 3 ###
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
PHP_IDE_CONFIG=serverName=ecommerce-ms-register-service
###< XDEBUG 3 ###