version: '3.5'

services:
  ecommerce-ms-register-service-web:
    container_name: ecommerce-ms-register-service-web
    build:
      context: ./docker/nginx
      args:
        UID: $U_ID
    ports:
      - 8001:80
    volumes:
      - ./public:/appdata/www/public
    depends_on:
      - ecommerce-ms-register-service-app
    networks:
      - ecommerce-microservices-network

  ecommerce-ms-register-service-app:
    container_name: ecommerce-ms-register-service-app
    build:
      context: docker/php
      args:
        UID: $U_ID
    volumes:
      - ./:/appdata/www
    env_file:
      - .env
    networks:
      - ecommerce-microservices-network

  ecommerce-ms-register-service-db:
      container_name: ecommerce-ms-register-service-db
      build:
        context: ./docker/database
      ports:
        - 10100:3306
      environment:
        MYSQL_DATABASE: register_database
        MYSQL_ROOT_PASSWORD: root
      volumes:
        - ecommerce-ms-register-service-db-data:/var/lib/mysql
      networks:
        - ecommerce-microservices-network
      command: [ 'mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci' ]
networks:
  ecommerce-microservices-network:
    external: true