# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=ac50ce25f57889e8bc2fbc88f0a43949
###< symfony/framework-bundle ###


###> XDEBUG 3 ###
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
PHP_IDE_CONFIG=serverName=ecommerce-ms-mailer-service
###< XDEBUG 3 ###
# Choose one of the transports below
 MESSENGER_TRANSPORT_DSN=amqp://admin:123456@ecommerce-ms-rabbitmq-service:5672/%2f
 MESSENGER_VHOST=ecommerce_service
 MESSENGER_EXCHANGE=application_mailer_exchange
###< symfony/messenger ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:root@ecommerce-ms-mailer-service-db:3306/mailer_database?serverVersion=8.0.32&charset=utf8mb4"
###< doctrine/doctrine-bundle ###
